/* COLOR PALLETE */

// gray scale 
$gray100: #f8f9fa;
$gray200: #e9ecef;
$gray300: #dee2e6;
$gray400: #ced4da;
$gray500: #adb5bd;
$gray600: #6c757d;
$gray700: #495057;
$gray800: #343a40;
$gray900: #212529;
$black: #000;

// font style/size/weight
$font-family-base: 'Ubuntu', sans-serif;

$fontSize1: 12px;
$fontSize2: 14px;
$fontSize3: 16px;
$fontSize4: 18px;
$fontSize5: 20px;
$fontSize6: 24px;
$fontSize7: 30px;
$fontSize8: 36px;
$fontSize9: 48px;
$fontSize10: 60px;
$fontSize11: 72px;

$color1: #fdf5ef;
$color2: #83cdc5;
$color3: #47a3c6;
$color4: #17c778;
$color5: #ff91bd;
$color6: #f8b948;
$color7: #fd5621;

@font-face {
    font-family: 'Manrope';
    src: url('/public/fonts/Manrope.ttf') format('truetype');
}

$manrope: 'Manrope', sans-serif;

// spacing
@function spacing($size) {
    // space on scale of 16px
    @return $size * 16px;
}

// border
$outline: #e4ebf8;

// shadows
$shadow1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
$shadow2: 0 3px 6px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.12);
$shadow3: 0 10px 20px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.10);
$shadow4: 0 15px 25px rgba(0, 0, 0, 0.15), 0 5px 10px rgba(0, 0, 0, 0.5);
$shadow5: 0 20px 40px rgba(0, 0, 0, 0.2);

$flatshadow1: 1px 1px 0 hsl(220deg, 7%, 73%);

$shadowInset: inset 0 0 0 1px rgba(0, 0, 0, 0.1);

// dimensions
$textWidth1: 20rem;
$textWidth2: 25rem;
$textWidth3: 30rem;
$textWidth4: 35rem;

$lineHeight1: 1;
$lineHeight2: 1.2;
$lineHeight3: 1.5;
$lineHeight4: 1.75;
$lineHeight5: 2;

$screen-md: 465px;
$screen-lg: 1115px;

// MIXINS
@mixin screen-md {
    @media only screen and (min-width: $screen-md) {
        @content;
    }
}

@mixin screen-lg {
    @media only screen and (min-width: $screen-lg) {
        @content;
    }
}

@mixin flexCenter {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

html {
    height: 100%;
    margin: 0;
    min-height: 100vh;
    padding: 0;
}

body {
    background: $black;
    //background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Cpattern id='pattern-circles' x='0' y='0' width='50' height='50' patternUnits='userSpaceOnUse' patternContentUnits='userSpaceOnUse'%3E%3Ccircle id='pattern-circle' cx='10' cy='10' r='1.6257413380501518' fill='%23fff'%3E%3C/circle%3E%3C/pattern%3E%3Crect id='rect' x='0' y='0' width='100%25' height='100%25' fill='url(%23pattern-circles)'%3E%3C/rect%3E%3C/svg%3E%0A");
    background-size: 358px;
    height: 100%;
    margin: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    color: $gray100;
}

textArea {
    background: $gray900;
    border-radius: 10px;
    border: none;
    color: $gray100;
    font-family: 'ubuntu', sans-serif;
    font-size: $fontSize2;
    height: 100%;
    margin: 0;
    min-height: 4rem;
    resize: none;
    width: 100%;
}

p {
    font-family: 'ubuntu', sans-serif;
    font-size: $fontSize3;
    line-height: $lineHeight3;
    margin: 0;
    max-width: $textWidth2;
    word-spacing: -0.1rem;
}

.primaryButton {
    background: black;
    border-radius: 10px;
    border: 1px solid $gray900;
    color: $gray100;
    font-size: $fontSize3;
    padding: spacing(0.5);
    margin-right: spacing(1);
    box-shadow: $flatshadow1;
    cursor: pointer;
    transition: all 0.1s;
}

.primaryButton:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}

.primaryButton:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}

// SCROLL BAR
.scrollContainer {
    scrollbar-width: thin;
    scrollbar-color: $gray100;
}

.scrollContainer::-webkit-scrollbar {
    width: 2px;
    background-color: none;
    border-radius: 4px;
    direction: ltr;
}

.scrollContainer::-webkit-scrollbar-thumb {
    border-left: none;
    border-radius: 4px;
    direction: ltr;
    background: linear-gradient(330deg, #FDF5EF, #83CDC5, #47A3C6, #17C778, #FF91BD, #F8B948, #FD5621);
    background-size: 200% 200%;
}

.icon {
    height: 24px;
    width: 24px;
    margin-right: spacing(0.5);
    cursor: pointer;
}

.icon:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}

@keyframes breathe {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);

    }

    100% {
        transform: scale(1);
    }
}